<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ПАРАЛЛЕЛИ</title>
  <style>
      hr{
          border: none; /* Убираем границу */
          background-color: blue; /* Цвет линии */
          color: blue; /* Цвет линии для IE6-7 */
          height: 2px; /* Толщина линии */
          margin: 50px;
          }
      {
        margin: 0;
        padding: 0;
      }
      html,
      body {
        height: 100%;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .content {
        flex: 1 0 auto;
      }
      .footer {
        flex: 0 0 auto;
      }
  </style>

</head>
<body>
<div class="wrapper">
<div class="content">
  <div>
    <h1  class="ml-5">Сайт Калининградского ПЕН-центра
    <img src="https://sun9-54.userapi.com/c857320/v857320278/17ab71/PLa_D6qPLTA.jpg" width=4% alt="бот"/>
    </h1>
    <p></p>
    <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/main">ГЛАВНАЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event">СОБЫТИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/couriers">НАША БИБЛИОТЕКА</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">ГАЛЕРЕЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contacts">ПРОЕКТЫ</a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="/main">АВТОРСКОЕ СЛОВО</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index">ЧАСТНОЕ МНЕНИЕ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/couriers">МОЛОДЫЕ ГОЛОСА</a>
            </li>
        </ul>
  </div>
  <p></p>
  <h3 class="ml-5">GoodsDelivery</h3>
  <hr>
  <h3 align="center">Bot</h3>
  <div class="cardholder">
        <div class="mx-3 mb-2" style="width: 53rem; margin: 1rem auto;">
          <img src="https://sun9-54.userapi.com/c857320/v857320278/17ab71/PLa_D6qPLTA.jpg" class="card-img-top" alt="бот">
          <div class="card-body">
            <div align="center">
            <h5 class="card-title">Наш бот</h5>
            <p class="card-text">Удобный интерфейс💪.</p>
            <a href="https://vk.com/deliverygood" target="_blank"class="btn btn-primary">VK</a>
            </div>
          </div>
        </div>
  </div>
  <hr>
  <h3 align="center">The creators of the project</h3>
    <div class="cardholder">
        <div class="mx-3 mb-2" style="width: 18rem; margin: 1rem auto;">
          <img src="https://sun9-43.userapi.com/c858420/v858420435/86187/TUUCwQVJIh0.jpg" class="card-img-top" alt="Сэрёга">
          <div class="card-body">
            <h5 class="card-title">Сергей</h5>
            <p class="card-text">Идейный вдохновитель и просто чоткий человек💪.</p>
            <a href="https://vk.com/s0fronov" target="_blank"class="btn btn-primary">VK</a>
            <a href="https://www.instagram.com/s0fronov/" target="_blank"class="btn btn-primary">instagram</a>
            </div>
        </div>
        <div class="mx-3 mb-2" style="width: 18rem; margin: 1rem auto;">
          <img src="https://sun9-59.userapi.com/c857616/v857616184/11c2ca/kBN0eL39MhY.jpg" class="card-img-top" alt="Елешпей">
          <div class="card-body">
            <h5 class="card-title">Елисей</h5>
            <p class="card-text">Тот, кто бахал эту и первую страницы💩.</p>
            <a href="https://vk.com/crampass" target="_blank" class="btn btn-primary">VK</a>
          </div>
        </div>
        <div class="mx-3 mb-2" style="width: 12.7rem; margin: 1rem auto;">
          <img src="https://sun9-43.userapi.com/c4337/u4166663/-6/z_eef22b0f.jpg" class="card-img-top" alt="Артур Хатипович">
          <div class="card-body">
            <h5 class="card-title">Артур Хатипович</h5>
            <p class="card-text">Следил за нашим проектом лучше чем мы сами👿.</p>
            <a href="https://vk.com/artur_khuziakhmetov" target="_blank" class="btn btn-primary">VK</a>
          </div>
        </div>
    </div>
  <hr>
  <h3 align="center">Communication with us</h3>
  <p></p>
  <div> </div>
<div class="container">
<div class="row">
<div class="col-md-4"> </div>
<div class="col-md-4">
   <form action="./mail.php" method="post">
<div class="form-group">
   <label for="name">Ваше имя:</label>
   <input type="name" name="name" class="form-control" id="name" placeholder="Name">
</div>
<div class="form-group">
   <label for="email1">E-mail:</label>
   <input type="email" name="email" class="form-control" id="email1" placeholder="Email">
</div>
<div class="form-group">
   <label for="phone">Номер телефона:</label>
   <input type="phone" name="phone" class="form-control" id="phone" placeholder="Phone">
</div>
<div class="form-group">
   <label for="message">Сообщение:</label>
   <textarea class="form-control" name="message" rows="3"></textarea>
</div>
   <button type="submit" class="btn btn-info">Отправить сообщение</button>
</form>
</div>
<div class="col-md-4"> </div> </div>
</div>
</div>
<p></p>
<hr>
<div class="footer">
    <div class="card bg-dark text-white">
      <img src="https://sun1-15.userapi.com/ifbQNgHTvHVfWHY9bUYcX4FrK_UKkZ_lmog_Xg/CEIAdlR2QK0.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">GoodsDelivery</h5>
        <p class="card-text">This website is property Sofronov Sergei ans Shkolnikov Elisei. All products it is forbidden to use it without written confirmation.</p>
        <p class="card-text" align="right">2020. GoodsDelivery</p>
      </div>
    </div>
  </div>
</div>
</div> 
</body>
</html>
