<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
  <style>
      hr{
          border: none; /* Убираем границу */
          background-color: blue; /* Цвет линии */
          color: blue; /* Цвет линии для IE6-7 */
          height: 2px; /* Толщина линии */
          margin: 50px;
          }
      {
        margin: 0;
        padding: 0;
      }
      html,
      body {
        height: 100%;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .content {
        flex: 1 0 auto;
      }
      .footer {
        flex: 0 0 auto;
      }
  </style>
  <title>ПАРАЛЛЕЛИ</title>

</head>
<body>
<div class="wrapper">
<div class="content">
  <div>
    <h1  class="ml-5">Сайт Калининградского ПЕН-центра
    <img src="https://sun9-54.userapi.com/c857320/v857320278/17ab71/PLa_D6qPLTA.jpg" width=4% alt="бот"/>
    </h1>
    <p></p>
    <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/main">ГЛАВНАЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event">СОБЫТИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/our_library">НАША БИБЛИОТЕКА</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">ГАЛЕРЕЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">ПРОЕКТЫ</a>
            </li>
        </ul>

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/authors_opinion">АВТОРСКОЕ СЛОВО</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/frequent_opinion">ЧАСТНОЕ МНЕНИЕ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/young_voice">МОЛОДЫЕ ГОЛОСА</a>
            </li>
        </ul>
  </div>
  <p></p>
  <h3 class="ml-5">Main</h3>
  <hr>
  <div style="width: 90%; margin-left: 5%;">
    <div class="card-deck">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hi, bro</h5>
          <p class="card-text">GoodsDelivery</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hi, bro</h5>
          <p class="card-text">GoodsDelivery</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hi, bro</h5>
          <p class="card-text">GoodsDelivery</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
   <p></p>
   <hr>
<div class="footer">
    <div class="card bg-dark text-white">
      <img src="https://sun1-15.userapi.com/ifbQNgHTvHVfWHY9bUYcX4FrK_UKkZ_lmog_Xg/CEIAdlR2QK0.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">GoodsDelivery</h5>
        <p class="card-text">This website it is property Sofronov Sergei ans Shkolnikov Elisei. All products it is forbidden to use it without written confirmation.</p>
        <p class="card-text" align="right">2020. GoodsDelivery</p>
      </div>
    </div>
  </div>
</div>
</div> 
</body>
</html>
