<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ПАРАЛЛЕЛИ</title>
</head>
<body>
  <div>
    <h1 class="ml-5">Сайт Калининградского ПЕН-центра</h1>

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="/index">ГЛАВНАЯ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/couriers">СОБЫТИЯ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">Who are we?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contacts">Contacts</a>
        </li>
    </ul>
</div>
<img src="static/img/av.png" alt="мммммммММММММММММООММММАООМММАОАОААООММММООООООАОАОМММАОА">
</body>
</html>
